body {
  background: #F4F1EB;
  color: #2E2E2E;
  font-family: "Raleway";
}

h4{
	color: #2E2E2E;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 21px;
}

.contentWrapper{
	float: center;
	width: 600px;
	height: 400px;
	border: solid 1px black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.titleWrapper{
	float: center;
	width: 600px;
	height: 50px;
	margin: auto;
	margin-top: 6rem;
	border: solid 1px transparent;
}

.refresh{
	position: absolute;
	width: 25px;
	margin: auto;
	bottom: 50px;
	right: 50px;
	border: solid 1px transparent;
}

.readMore{
	position: absolute;
	bottom: 300px;
	border: solid 1px black;
	width: 60px;
	height: 40px;
}