		.wrapper1 {
			display:block;
			position: relative;
			float:center;
			width: 200px;
			height: 200px;
			border: solid 1px transparent;
			margin:auto;
			margin-top: 6rem;
		}

		.wrapper2 {
			display:block;
			position: relative;
			float:center;
			width: 200px;
			height: 200px;
			border: solid 1px transparent;
			margin:auto;
			margin-top: 6rem;
		}		

		.wrapper3 {
			display:block;
			position: relative;
			float:center;
			width: 200px;
			height: 200px;
			border: solid 1px transparent;
			margin:auto;
			margin-top: 6rem;
		}

		.wrapper4 {
			display:block;
			position: relative;
			float:center;
			width: 200px;
			height: 200px;
			border: solid 1px transparent;
			margin:auto;
			margin-top: 6rem;
		}		

		.wrapper5 {
			display:block;
			position: relative;
			float:center;
			width: 200px;
			height: 200px;
			border: solid 1px transparent;
			margin:auto;
			margin-top: 6rem;
		}

		.one-stroke-left-vertical {
			height:60%;
			width:10%;
			background-color: #F17C67;
			position:absolute;
			left: 10%;
			bottom: 0%;
			transform: skewY(45deg);"
		}

		.one-stroke-slant-down {
			height:2px;
			width:40%;
			background-color: #F17C67;
			transform: rotate(45deg);
			transform-origin: 0% 100%;
			position: absolute;
			left:10%;
			top: 15%;
		}

		.one-stroke-slant-up {
			height:45%;
			width:10%;
			background-color: #F17C67;
			transform: rotate(45deg);
			transform-origin: 100% 0%;
			position: absolute;
			right: 46px;
			top: 75px;
		}

		.one-triangle-slant-up{
			width: 0;
			height: 0;
			border-bottom: 20px solid #F17C67;
			border-right: 20px solid transparent;
			transform: rotate(45deg);
			position: absolute;
			right: 36px;
			top: 51px;
		}

		.one-stroke-right-vertical{
			height:90%;
			width:10%;
			background-color: #F17C67;
			position:absolute;
			right: 0%;
			bottom: 0;
			transform: skewY(45deg);
		}

		@keyframes stretch {
			0% {
			}
			100% {
				width: 50%;
				background-color: #F9BF45;
			}
		}

		.wrapper1:hover .one-stroke-left-vertical{
			animation-name: stretch;
			animation-duration: 1s; 
			animation-timing-function: ease-in-out; 
			animation-delay: 0;
			animation-direction: alternate;
			animation-iteration-count: 2;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		.wrapper1:hover .one-stroke-slant-down{
			animation-name: stretch;
			animation-duration: 1.5s; 
			animation-timing-function: ease-in-out; 
			animation-delay: 0;
			animation-direction: alternate;
			animation-iteration-count: 2;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		.wrapper1:hover .one-stroke-right-vertical{
			animation-name: stretch;
			animation-duration: 1.5s; 
			animation-timing-function: ease-in-out; 
			animation-delay: 0;
			animation-direction: alternate;
			animation-iteration-count: 2;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		.wrapper1:hover .one-stroke-slant-up{
			animation-name: stretch;
			animation-duration: 1s; 
			animation-timing-function: ease-in-out; 
			animation-delay: .5s;
			animation-direction: alternate;
			animation-iteration-count: 2;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		.two-circle1{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			left: -20px;
			top: 80px;
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: 0; 
		}

		.wrapper2:hover .two-circle1{
			transform: translate(20px, -80px);
		}

		.two-circle2-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			left: 30px;				
			top: 120px;
			transition-duration: 1.5s;
			transition-timing-function: cubic-bezier(0,1,1,0);
			transition-delay: 0; 
		}

		.wrapper2:hover .two-circle2-green{
			transform: translate(-30px, -80px);
		}


		.two-circle3{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			left: 180px;
			top: 30px;
			transition-duration: 1s;
			transition-timing-function: ease-out;
			transition-delay: 0.3s; 				
		}
		.wrapper2:hover .two-circle3{
			transform: translate(-180px, 50px);
		}			

		.two-circle4-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			left: -40px;
			top: 10px;      
			transition-duration: 1s;
			transition-timing-function: ease-in;
			transition-delay: 0.2s;   	
		}
		.wrapper2:hover .two-circle4-green{
			transform: translate(40px, 110px);
		}	

		.two-circle5{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			left: 150px;
			top: 120px;      
			transition-duration: 0.8s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;        	
		}
		.wrapper2:hover .two-circle5{
			transform: translate(-150px, 40px);
		}	

		.two-circle6{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			left: 60px;
			top: 130px;   
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.4s;   
		}
		.wrapper2:hover .two-circle6{
			transform: translate(-30px, -100px);
		}	

		.two-circle7-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			left: 260px;
			top: 0px; 
			transition-duration: 1.1s;
			transition-timing-function: cubic-bezier(0,1,.95,0);
			transition-delay: 0.1s;        	
		}
		.wrapper2:hover .two-circle7-green{
			transform: translate(-200px, 60px);
		}	

		.two-circle8-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			left: 30px;
			top: 30px;  
			transition-duration: 1s;
			transition-timing-function: ease-in;
			transition-delay: .5s;         	
		}
		.wrapper2:hover .two-circle8-green{
			transform: translate(60px, 60px);
		}	

		.two-circle9{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			right: 130px;
			top: 210px;   
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;       	
		}
		.wrapper2:hover .two-circle9{
			transform: translate(70px, -150px);
		}	

		.two-circle10-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			right: -30px;
			top: 80px; 
			transition-duration: 1.2s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;        	
		}
		.wrapper2:hover .two-circle10-green{
			transform: translate(-60px, -50px);
		}	

		.two-circle11-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			right: 60px;
			top: 40px; 
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.4s;        	
		}
		.wrapper2:hover .two-circle11-green{
			transform: translate(60px, -40px);
		}	

		.two-circle12{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			right: 110px;
			top: 50px; 
			transition-duration: 1.1s;
			transition-timing-function: ease-out;
			transition-delay: 0s;        	
		}
		.wrapper2:hover .two-circle12{
			transform: translate(110px, -10px);
		}	

		.two-circle13{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			right: -40px;
			top: 130px;
			transition-duration: 1.3s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;         	
		}
		.wrapper2:hover .two-circle13{
			transform: translate(-40px, -50px);
		}	

		.two-circle14{
			width: 20px;
			height: 20px;
			background: #FB9966;
			border-radius: 50%;
			position: absolute;
			right: 80px;
			top: 150px; 
			transition-duration: 1s;
			transition-timing-function: ease-in;
			transition-delay: 0.2s;        	
		}
		.wrapper2:hover .two-circle14{
			transform: translate(80px, -30px);
		}	

		.two-circle15-green{
			width: 20px;
			height: 20px;
			background: #86A697;
			border-radius: 50%;
			position: absolute;
			right: 10px;
			top: -20px;   
			transition-duration: 1.1s;
			transition-timing-function: ease-out;
			transition-delay: 0.3s;      	
		}
		.wrapper2:hover .two-circle15-green{
			transform: translate(10px, 180px);
		}	

		.three-left-vertical {
			height:100%;
			width:5%;
			background-color: #86A697;
			transform: rotate(720deg);
			transition-duration: 3s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.3s; 
		}
		.wrapper3:hover .three-left-vertical{
			transform: rotate(0deg);
		}

		.three-left-horizontal{
			width:20%;
			height:5%;
			background-color: #86A697;
			position: absolute;
			top: 0%;
			transform: rotate(900deg);
			transition-duration: 2.7s;
			transition-timing-function: ease-out;
		}
		.wrapper3:hover .three-left-horizontal{
			transform: rotate(0deg);
		}

		.three-mid-vertical1 {
			height:40%;
			width:5%;
			background-color: #86A697;
			position: absolute;
			left:30%;
			bottom:0%;
			transform: rotate(900deg);
			transition-duration: 2.5s;
			transition-timing-function: ease-in-out;
		}
		.wrapper3:hover .three-mid-vertical1{
			transform: rotate(0deg);
		}

		.three-mid-vertical2 {
			height:40%;
			width:5%;
			background-color: #86A697;
			position: absolute;
			right:30%;
			bottom:0%;
			transform: rotate(720deg);
			transition-duration: 2s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.5s; 
		}
		.wrapper3:hover .three-mid-vertical2{
			transform: rotate(0deg);
		}

		.three-right-vertical {
			height:100%;
			width:5%;
			background-color: #86A697;
			position: absolute;
			right:0%;
			top:0%;
			transform: rotate(1080deg);
			transition-duration: 3s;
			transition-timing-function: cubic-bezier(0,1,1,0);
			transition-delay: 0.4s; 
		}
		.wrapper3:hover .three-right-vertical{
			transform: rotate(0deg);
		}

		.three-right-horizontal{
			width:20%;
			height:5%;
			background-color: #86A697;
			position: absolute;
			right: 0;
			top: 0%;
			transform: rotate(1260deg);
			transition-duration: 3s;
			transition-timing-function: ease-in-out;
		}
		.wrapper3:hover .three-right-horizontal{
			transform: rotate(0deg);
		}

		.four-rect{
			width:80%;
			height: 60%;
			position: absolute;
			bottom: 0%;
			left: 10%;
			background-color:#F9BF45;
		}

		.four-triangle{
			width: 0;
			height: 0;
			border-left: 70px solid transparent;
			border-right: 70px solid transparent;
			border-top:70px solid white;
			position: absolute;
			left: 30px;
			top: 60px;
			transition-property: border-top;
		}

		.wrapper4:hover .four-rect{
			transform: translate(0px, -20px);
		}
		.wrapper4:hover .four-triangle{
			transform: translate(0px, -20px);
		}
		.wrapper4:hover .four-triangle{
			border-top: 70px solid transparent;
			transition-delay: 1.5s; 
		}

		.wrapper4:hover .four-circle2{
			animation-name: shake;
			animation-duration: 0.82s; 
			animation-delay: 0.5s;
			animation-timing-function: cubic-bezier(.36,.07,.19,.97); 
			animation-direction: both;
			animation-iteration-count: 2;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		.wrapper4:hover .four-circle1{
			animation-name: shake;
			animation-duration: 0.82s; 
			animation-delay: 2s;
			animation-timing-function: cubic-bezier(.36,.07,.19,.97); 
			animation-direction: both;
			animation-iteration-count: 1;
			animation-fill-mode: none;
			animation-play-state: running;
		}

		@keyframes shake{
			10%, 90%{
				transform: translate(-1px,0);
			}
			20%, 80%{
				transform: translate(2px,0);
			}
			30%,50%,70%{
				transform: translate(-3px,0);
			}
			40%,60%{
				transform: translate(3px,0);
			}
		}


		.four-circle1{
			width: 10px;
			height: 10px;
			background: #F9BF45;
			border-radius: 50%;
			position:absolute;
			left: 94px;
			top: 20px;
		}

		.four-circle2{
			width: 10px;
			height: 10px;
			background: #F9BF45;
			border-radius: 50%;
			position:absolute;
			left: 47%;
			top: 35%;
		}

		.five-stroke1{
			height:70%;
			width:5%;
			background-color: #F17C67;
			transform-origin: 100% 0%;
			transform: rotate(11deg);
			position: absolute;
			left: 10%;
			top: 7%;
		}

		.five-stroke2{
			height:50%;
			width:5%;
			background-color: #F17C67;
			transform: rotate(-37deg);
			transform-origin: 100% 0%;
			position: absolute;
			left: 5%;
			top: 20%;
		}

		.five-stroke3{
			height:80%;
			width:5%;
			background-color: #F17C67;
			transform: rotate(71deg);
			transform-origin: 100% 0%;
			position: absolute;
			right: 5%;
			top: 40%;
		}

		.five-stroke4{
			height:100%;
			width:5%;
			background-color: #F17C67;
			transform: rotate(31deg);
			transform-origin: 100% 0%;
			position: absolute;
			right: 0%;
			top: 23%;
		}

		.wrapper5:hover .five-stroke1{
			transform-origin: 100% 0%;
			animation-name: swing;
			animation-duration: 1.5s; 
		}

		@keyframes swing {
			20% {
				transform: rotate(15deg);
			}
			40% {
				transform: rotate(-10deg);
			}
			60% {
				transform: rotate(5deg);
			}
			80% {
				transform: rotate(-5deg);
			}
		}


		.wrapper5:hover .five-stroke2{
			animation-name: swing2;
			animation-duration: 2s; 
		}
				@keyframes swing2 {
			20% {
				transform: rotate(15deg);
			}
			40% {
				transform: rotate(-20deg);
			}
			60% {
				transform: rotate(5deg);
			}
		}

		.wrapper5:hover .five-stroke3{
			animation-name: swing3;
			animation-duration: 2.5s; 
			transform-origin: 100% 0%;
		}
				@keyframes swing3 {
			20% {
				transform: rotate(-35deg);
			}
			40% {
				transform: rotate(55deg);
			}
			60% {
				transform: rotate(-30deg);
			}
		}

		.wrapper5:hover .five-stroke4{
			transform-origin: 100% 0%;
			animation-name: swing5;
			animation-duration: 3s; 
		}

		@keyframes swing5 {

			20% {
				transform: rotate(-20deg);
			}
			30% {
				transform: rotate(15deg);
			}
			40% {
				transform: rotate(-15deg);
			}
			50% {
				transform: rotate(10deg);
			}
			60% {
				transform: rotate(-10deg);
			}
			70% {
				transform: rotate(5deg);
			}
			80% {
				transform: rotate(-5deg);
			}
		}