body{
	background:Slategray;
}


.normal{
	font-family: Trebuchet MS;
}

p, ul, h1, h2, h3 {
	margin: auto;
	width: 70%;
}

p, ul{
	color: white;
	font-family: Trebuchet MS;
}

h2, h3{
	color: white;
	font-family: Futura;
}
