/* header wrapper */
.wrapper1{
	display: inline-block;
	border: solid 1px transparent;
	width: 90%;
	height: 700px;
	top: 0;
	position: relative;
}

.menu1{
	width: 100px;
	height: 70px;
	position: fixed;
	top: 30%;
	right: 0;
	transform: rotate(90deg);
}

.menu2{
	width: 100px;
	height: 70px;
	position: fixed;
	top: 40%;
	right: 0;
	transform: rotate(90deg);
}

.menu3{
	width: 100px;
	height: 70px;
	position: fixed;
	top: 50%;
	right: 0;
	transform: rotate(90deg);
	text-align: center;
}

.menu4{
	width: 100px;
	height: 70px;
	position: fixed;
	top: 60%;
	right: 0;
	transform: rotate(90deg);
}

.menu5{
	width: 100px;
	height: 70px;
	position: fixed;
	top: 70%;
	right: 0;
	transform: rotate(90deg);
}

h3{
	color: white;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	line-height: 70px; 
}

.menu1 a{
	text-decoration: none; 
}

.menu3 a{
	text-decoration: none; 
}

.menu5 a{
	text-decoration: none; 
}

.wrapper2{
	display: block;
	width: 90%;
	height: 700px;
	border: solid 1px white;
}

.wrapper3{
	display: block;
	width: 90%;
	height: 700px;
	border: solid 1px white;
}

.wrapper4{
	display: block;
	width: 90%;
	height: 700px;
	border: solid 1px white;
}

body{
	background: linear-gradient(180deg, #FBC2EB 0%, #A18CD1 33.85%, #A6C1EE 100%);
	height: 3110px;
}

h1{
	color: white;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 200px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.line{
	position: absolute;
	width: 43px;
	height: 0px;
	left: 8%;
	top: 43%;
	border: 1px solid white;
	transform: rotate(90deg);
}

/* 22 */
h6{
	position: absolute;
	width: 33px;
	height: 47px;
	left: 8%;
	top: 39.5%;

	font-family: Raleway;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	transform: rotate(-90deg);
}

/* Date + Location */
h4{
	position: absolute;
	width: 280px;
	height: 42px;
	left: 246px;
	top: 1100px;

	font-family: Raleway;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;

	color: #FFFFFF;
}



/* backgorund image */
.image{
	position: absolute;
	width: 624px;
	height: 471px;
	background: url(birthday_white.png);
	background-size: contain;
	left: 538px;
	top: 742px;
	opacity: 0.7;
}

/* cake */
.cake{
	position: absolute;
	width: 300px;
	height: 379px;
	left: 202px;
	top: 745px;
	background: url(cake.png);
	background-size: contain;
	opacity: 0.7;
}