h1,h4,h5, p {
	margin: auto;
	width: 55%;
}

body{
	margin:0;
}

h1{
	font-family: "Futura";
	line-height: 2;
	text-align: center;
	padding-top: 100px;
	color: #656765;
}

p, h5{
	font-family: "Trebuchet MS";
	line-height: 1.3em;
	font-size: 16px;
	padding-bottom: 20px;
}

h5{
	padding-bottom: 40px;
	color: #CC543A;
}

h4{
	font-family: "Futura";
	font-size: 16px;
	color:  #CC543A;
	padding-bottom: 10px;
}

.center{
	display: block;
	margin:auto;
}

.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%
}

.caption{
	color: black;
	font-family: Trebuchet MS;
	font-style: italic;
	font-size: 12px;
	padding-bottom: 30px;
}